* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
    background-color: rgb(201, 71, 71);
    color: white;
    padding: 10px;
    text-align: center;
}

.float-left {
    float: left;
}

.info-list {
    margin-left: 5px;
}

.user-card {
    width: 30%;
    border: 1px solid gray;
    padding: 5px;
    float: left;
    margin: 10px;
    position: relative;
}

.user-list {
    width: 100%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 5px;
}

.user-list:first-of-type {
    border-top: 1px solid gray;
}

.userList {
    width: 90%;
    margin: 10px auto;
}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}

.large {
    width: 100%;
}

.name {
    color: white;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.thumbnail {
    border-radius: 50%;
}